<h3>Why?</h3>
<p class="text-primary">
    Welcome to HealthTracker! This is my first attempt an an AngularJS App.
    It is my intent to showcase some of the skills that I have been learning during my
    journey into Modern Web Development.
</p>
<h3>How?</h3>
<p class="text-primary">
    App scaffolding provided by Yeoman AngularJS Generator.
    Also included in the mix: Grunt Task Runner, Bower Package Manager & Bootstrap for Sass.
</p>
<div class="aboutImage">
    <a href="https://angularjs.org/" target="_blank">
        <img class="img-responsive" src="/images/AngularJS-Shield-medium.png" alt="AngularJS"/>
    </a>
</div>
<div class="aboutImage">
    <a href="http://yeoman.io/" target="_blank">
        <img class="img-responsive" src="/images/yeoman-1.svg" alt="Yeoman"/>
    </a>
</div>
<div class="aboutImage">
    <a href="http://gruntjs.com/" target="_blank">
        <img class="img-responsive" src="/images/grunt-logo-no-wordmark.svg" alt="Grunt"/>
    </a>
</div>
<div class="aboutImage">
    <a href="http://bower.io/" target="_blank">
        <img class="img-responsive" src="/images/bower-logo.svg" alt="Bower"/>
    </a>
</div>
<div class="aboutImage">
    <a href="http://getbootstrap.com/" target="_blank">
        <img class="img-responsive" src="/images/bootstrap-solid.svg" alt="Bootstrap"/>
    </a>
</div>
<br/>