<img class="pull-right img-responsive image contactImage" src="images/headshot.jpg" alt="Justin Hull"/>
<h3>On the web</h3>
<p><a href="{{contactLinks.homePage}}" target="_blank">{{contactLinks.homePage}}</a></p>
<p><a href="{{contactLinks.twitter}}" target="_blank">{{contactLinks.twitter}}</a></p>
<p><a href="{{contactLinks.linkedIn}}" target="_blank">{{contactLinks.linkedIn}}</a></p>
<p><a href="{{contactLinks.googlePlus}}" target="_blank">{{contactLinks.googlePlus}}</a></p>
<p><a href="{{contactLinks.gitHub}}" target="_blank">{{contactLinks.gitHub}}</a></p>
<p><a href="{{contactLinks.facebook }}" target="_blank">{{contactLinks.facebook}}</a></p>

<h3>E-mail</h3>
<p><a href="mailto:{{contactLinks.gmail}}?subject=HealthTracker">{{contactLinks.gmail}}</a></p>
<p><a href="mailto:{{contactLinks.yahoo}}?subject=HealthTracker">{{contactLinks.yahoo}}</a></p>
<p><a href="mailto:{{contactLinks.work}}?subject=HealthTracker">{{contactLinks.work}}</a></p>

<br/>