<h3>Find Foods</h3>
<br/>
<form ng-submit="submit()" ng-cloak >
	Search Foods:
	<input type="text" ng-model="foodSearchTerms" name="foodSearchTerms" id="foodSearchTerms" focus="true" />
<input type="submit" class="btn btn-primary" value="Search" id="submit" />
	<span>(Ex. 'apple pie')</span>
	<br />
	<br />
	<table class="table table-hover" ng-show="tableShown">
		<tr>
			<th>Food name</th>
            <th>Brand name</th>
		</tr>
		<tr ng-repeat="food in foods" ng-click="ChangeLocation('{{food._id}}')">
            <td id="food{{$index}}">{{food.fields.item_name}}</td>
            <td id="brand">{{food.fields.brand_name}}</td>
		</tr>
	</table>
</form>
