<div class="jumbotron bkgrndImage">
    <h1>HealthTracker</h1>

    <p class="lead">
        Track your health!
    </p>
</div>
<div class="row marketing">
    <h3>Search Food Database</h3>

    <p>
        <a ui-sref="food">Keyword Search for Nutrition Information</a>
    </p>

    <h3>About</h3>

    <p>
        <a ui-sref="about">Find out more about HealthTracker</a>
    </p>

    <h3>Contact</h3>

    <p>
        <a ui-sref="contact">Different ways to get in touch with me - Justin Hull</a>
    </p>
    <br/>
</div>